.env
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

venv/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*

postgres_data/
*.txt